.order-container {
  .order-book {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 20px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    .book-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;

      img {
        height: 80px;
        width: 80px;
      }
    }

    .action {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
    }
  }
  .order-book-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #fff;
    border-radius: 5px;
  }

  .step-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
  }

  .order-sum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 5px;

    .calculate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    button {
      background-color: #ee4d2d;
      width: 100%;
      border-radius: 3px;
      color: #fff;
      height: 50px;
      margin-top: 30px;
      transition: all 0.1s;

      &:hover {
        background-color: rgba($color: #ee4d2d, $alpha: 0.9);
      }
    }

    .sum-final {
      font-size: 30px;
      color: #ee4d2d;
    }
  }
}
